{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="container">

    <!-- Category and Banner Row -->
    <div class="row my-4">
        <!-- Category List Section (4 columns) -->
        <div class="col-md-3">
            <ul class="list-group">
                {% for category in categories %}
                <li class="list-group-item">
                    <!-- Link to the shop route with the category_id passed as a parameter -->
                    <a href="{{ url_for('shop', category_id=category.id) }}" style="text-decoration: none;">
                        {{ category.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <!-- Banner Section (8 columns) -->
        <div class="col-md-9">
            <img src="https://cdn.vectorstock.com/i/500p/91/98/shopping-online-with-discount-conceptual-banner-vector-47519198.jpg" alt="Banner" class="img-fluid">
        </div>
    </div>

    <!-- Products Section -->
    <h2 class="my-4">Some of Our Products</h2>
    <div class="row">
        {% for product in products %}
        <div class="col-6 col-md-4 col-lg-3 mb-3">
            <div class="card">
                <a href="{{ url_for('product', product_id=product.id) }}" style="text-decoration: none">
                    <img src="{{ product.image_url }}" alt="{{ product.name }}" class="card-img-top p-2"
                         style="height: 200px; object-fit: cover;">
                </a>
                <div class="card-body">
                    <a href="{{ url_for('product', product_id=product.id) }}"
                       style="text-decoration: none; color: inherit">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text font-weight-bold" style="margin-bottom: 10px">{{ product.price }}</p>
                    </a>
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-6 p-1">
                            <a href="{{ url_for('add_to_cart', product_id=product.id) }}" class="btn btn-primary"
                               style="width: 100%">
                                Add to Cart
                            </a>
                        </div>
                        <div class="col-12 col-md-12 col-lg-6 p-1">
                            <a class="btn btn-secondary productDetailsBtn" style="width: 100%"
                               href="{{ url_for('product', product_id=product.id) }}">
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
